/.DS_Store
/.vscode
temp.cpp
temp*.cpp
*_data.dat
notepad.o

# Cmake 

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps